<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>多人聊天室</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
        <script src="http://realtime.plhwin.com:3000/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/client.js"></script>
        <script type="text/javascript"src="js/angular.js"></script>
    </head>
    <body>
        <div id="loginbox">
            <div class="login">
                <div>
                    <h2>用户登录</h2>
                    <input type="text"  ng-model="firstName"placeholder="输入你的昵称" id="username" name="username">
                    <input class="sub" type="button" ng-click="login()" value="提交">
                    <p>叮当猫：请加入我们一起畅谈吧</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/client.js"></script>
    </body>
</html>
